<nav class="navbar navbar-expand-lg navbar-light justify-content-center" id="neubar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Proyecto Final</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gifs" routerLinkActive="active">Gifs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stickers" routerLinkActive="active">Stickers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search" routerLinkActive="active">Search your gifs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
