<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <svg width="100" height="100" viewBox="0 0 256 270" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet"><path d="M127.606.341L.849 44.95 20.88 211.022l106.86 58.732 107.412-59.528L255.175 44.16 127.606.341z" fill="#B3B3B3"/><path d="M242.532 53.758L127.31 14.466v241.256l96.561-53.441 18.66-148.523z" fill="#A6120D"/><path d="M15.073 54.466l17.165 148.525 95.07 52.731V14.462L15.074 54.465z" fill="#DD1B16"/><path d="M159.027 142.898L127.31 157.73H93.881l-15.714 39.305-29.228.54L127.31 23.227l31.717 119.672zm-3.066-7.467l-28.44-56.303-23.329 55.334h23.117l28.652.97z" fill="#F2F2F2"/><path d="M127.309 23.226l.21 55.902 26.47 55.377h-26.62l-.06 23.189 36.81.035 17.204 39.852 27.967.518-81.981-174.873z" fill="#B3B3B3"/></svg>
        <span class="fs-4">Proyecto Final de Angular</span>
      </a>
    </header>

    <div class="p-5 mb-4 info-back-colour rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Información</h1>
        <p class="col-md-8 fs-4 p-info">En este proyecto se presentan dos funcionalidades principales.<br><br><strong>1)</strong>  Ver los Gifs del momento <br><strong>2)</strong> Ver los Stickers del momento <br> <strong>3)</strong> Poder buscar gifs <br><strong>4)</strong> Adicional una página 404 cuando se navega a una ruta inexistente.</p>
        <p class="col-md-8 fs-4 p-info">Para el proyecto se utilizó el API de Giphy</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 gif-back-colour border rounded-3">
          <h2>Gifs del momento</h2>
          <p class="p-size">Utilizando el menú podrá ir a la sección de Gifs y así ver los 50 gifs del momento.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 sticker-back-colour border rounded-3">
          <h2>Stickers del momento</h2>
          <p class="p-size">Utilizando el menú podrá ir a la sección de Stickers y así ver los 50 stickers del momento.</p>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
  </div>
</main>
